/* estilos_web.css actualizado solo para responsividad */

* {
    font-family: monserrat;
  }
  
  body {
    background-color: #D3D3D3;
  }
  
  .header {
    transition: background-color 1s ease !important;
  }
    
  .bg-blue-light {
    background-color: #D3D3D3;
  }
  
  .bg-blue-marin {
    background-color: #D3D3D3;
  }
  
  .text-menu {
    color: #D4AF37;
  }

  #scrollTopBtn {
    display: none;
    position: fixed;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }

  
.carousel-inner {
    max-height: 500px;
  }
  .imagen-carrusel {
    max-height: 500px; /* Ajusta la altura como gustes */
    object-fit: contain; /* Asegura que la imagen no se recorte ni deforme */
    background-color: black; /* Por si la imagen no cubre el área */
    width: 100%;
}


  .footer {
    position: relative;
    bottom: 0;
    height: 80px;
  }
  
  /* Media Queries para hacerlo responsivo */
  
/*   @media (max-width: 1024px) {
    .title {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .carousel-inner .d-flex {
      flex-direction: column;
      align-items: center;
    }
  
    .carousel-inner .gallery-item {
      width: 100%;
      padding: 0.5rem 0;
    }
  
    .header .row {
      flex-direction: column;
      align-items: center;
    }
  
    .header .col-2,
    .header .col-6,
    .header .col-4 {
      width: 100%;
      text-align: center;
      justify-content: center !important;
    }
  
    .navbar-nav {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-collapse {
      justify-content: center !important;
    }
  }
  
  @media (max-width: 576px) {

    .footer {
      height: auto;
      padding: 10px 0;
    }
  } */
  